@font-face {
	font-family: "Adobe Caslon Pro";
	src: url(../fonts/ACaslonPro-Regular.otf);
}

html, body {
	height: 100%;
	min-height: 100%;
}


section {
	padding: 2rem 0rem 2rem 0rem;
}

a {
	color: hsla(0,0%,100%,1);
	padding: .5rem;
}

	a:hover {
		color: hsla(0,0%,100%,1);
		background-color: hsla(0,0%,100%,.25);
		border-radius: .25rem;
	}

dl dd {
	margin-bottom: 0;
}


.logo {
	width: 20rem;
}

	.logo--museum {
		margin: 0 0 2rem 0;
	}

	.logo--sponsor {
		width: 12rem;
}


.credits {
	padding-bottom: 0;
}

	.credits__sponsor {
		margin-bottom: 1rem;
		text-align: center;
	}

	.credits__sponsor--title {
		font-size: .8rem;
	}


.menu {
	list-style: none;
	margin: 0;
}

	.menu--site-section {
		display: inline-block;
		padding: 0 1rem;
	}

	.menu--tours {
		background: hsla(206,100%,47%,.5);		
	}

	.menu--tour-stops {
		background: hsla(206,100%,47%,.5);		
	}

	.menu--tour {
		display: inline-block;
		padding: .75rem;
	}

		.menu--tour--active {
			background-color: hsla(0,0%,100%,.25);
			border-radius: .25rem;
		}

	.menu--tour-stop {
		display: inline-block;
		padding: .75rem;
	}

		.menu--tour--active {
			color: hsla(0,0%,100%,1);
			background-color: hsla(0,0%,100%,.25);
			border-radius: .25rem;
		}

	.menu--tour-list {
		background: hsla(0, 20%, 52%, 1);
		display: inline-block;
		padding: .75rem;
		text-transform: uppercase;			
	}

.title {
	font-family: "Adobe Caslon Pro";
}
	
	.title--site {
		font-weight: 600;
		font-size: 4rem;
	}

	.title--site--home {
		font-size: 6rem;
		text-align: center;
	}

	.title--tour {
		font-size: 2.4rem;
	}

	.title--tour-stop {
		font-size: 1.6rem;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}

	.title--tour-stop-detail {
		font-size: 1.75rem;
	}


.section__lead {
	font-size: 1.45rem;
} 

.button {
	text-transform: uppercase;
	display: inline-block;
	background-color: hsla(0, 20%, 52%, 1);
	margin-bottom: 0;
}

	.button:hover {
		background-color: hsla(0, 32%, 52%, 1);
	}

	.button:active {
		background-color: hsla(0, 45%, 52%, 1);
	}

	.button--overview {
		margin-right: 5rem;
		width: 20rem;
	}


.copyright {
	font-size: 1rem;
	margin: 0 auto
	text-align: right;
}

html .home {
	background: url(../img/backgrounds/shermanhouse.jpg) no-repeat center center fixed;
	background-size: cover;
}

.home__overview {
	background-color: hsla(39, 86.8020%, 61.3725%, 0.8);
	margin-top: 2rem;
/*	margin-bottom: 2rem;
*/	padding: 5rem;
	border: 2px solid hsla(3, 14%, 25%, 1.0);
	outline: 1px solid hsla(3, 14%, 25%, 1.0);
	outline-offset: -10px;
}


html .tours {
	background-color: hsla(39, 86.8020%, 61.3725%, 1);
}

.tour {
	height: 52rem;
	margin: 0 0 5rem 0;
	padding-top: 0;
}

	.tour--heart-of-chicago {
		background: url(../img/backgrounds/heart-of-chicago.jpg) no-repeat center center;
		background-size: cover;
		min-height: 100%;
	}

	.tour--commercial-district {
		background: url(../img/backgrounds/commercial-district.jpg) no-repeat center center;
		background-size: cover;
		min-height: 100%;
	}

	.tour--cultural-attractions {
		background: url(../img/backgrounds/cultural-attractions.jpg) no-repeat center center;
		background-size: cover;
		min-height: 100%;
	}

	.tour--waterways {
		background: url(../img/backgrounds/chicagos-waterways.jpg) no-repeat center center;
		background-size: cover;
		min-height: 100%;
	}

	.tour--churches {
		background: url(../img/backgrounds/churches-and-neighborhoods.jpg) no-repeat center center;
		background-size: cover;
		min-height: 100%;
	}

	.tour--south-side {
		background: url(../img/backgrounds/south-side.jpg) no-repeat center center;
		background-size: cover;
		min-height: 100%;
	}

	.tour__information {
		position: relative;
		left: 15rem;
		top: 17rem;
		padding: 2rem;
		border: 2px solid hsla(3, 14%, 25%, 1.0);
		outline: 1px solid hsla(3, 14%, 25%, 1.0);
		outline-offset: -10px;
		background-color: hsla(39, 86.8020%, 61.3725%, 0.7);
		width: 42rem;
	}

	.tour__lead {
		font-size: 1.1rem;
	}

	.tour__stop {
		margin-bottom: 2rem;
		padding: 1rem 2rem;
		background: url(../img/backgrounds/postcard.jpg) no-repeat top left;
		background-size: cover;
		border-radius: 2%;
		/*background-color: hsla(52, 100%, 91%, .6);*/
		/*background-color:hsla(52, 100%, 86%, .55);*/
		/*background-color: hsla(52, 100%, 77%, .6);*/
		/*background-color:hsla(52, 100%, 70%, .6);*/
		/*background-color:hsla(360, 21%, 100%, 0.2);*/
		/*box-shadow: 1px 1px 2px 3px #888;*/
	}

/* FOUNDATION OVERRIDEs */ 
[data-magellan-expedition],
[data-magellan-expedition-clone] {
	background: hsla(39, 86.8020%, 61.3725%, 1);
	padding: 0;
}

.orbit-container .orbit-prev, 
.orbit-container .orbit-next,
.orbit-container .orbit-prev:hover, 
.orbit-container .orbit-next:hover {
	background-color: hsla(0, 20%, 52%, 1);
}

.orbit-container .orbit-slide-number {
	color: #222;
}


// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { 

	a {
		display: block;
	}

	.home__overview {
		padding: 2rem;
	}

	.logo--museum {
		margin: 0 0 2rem 0;
		width: 100%
	}

	.title--site {
		margin-top: 2rem;
		font-size: 1.5rem;
	}

	.title--site--home {
		font-size: 1.3rem;
		font-weight: 800;
	}

	.title--tour {
		font-size: 1.4rem;
		text-align: center;
	}

	.section__lead {
		font-size: 1rem;
	} 

	.button--overview {
		margin: 0;
		width: 100%;
	}

	.copyright {
		font-size: .5rem;
	}

	.credits__sponsor--title {
		font-size: .7rem;
	}

	.sharethis {
		text-align: center;
	}

	.tour {
		height: auto;
	}

		.tour__information {
			position: relative;
			left: 0;
			top: 0;
			width: auto;
		}

	nav.right {
		float: none !important;
		text-align: center;
	}

	.menu--tours {
		background: none;
		display: none;
	}

		.menu--tour {
			background: hsla(206,100%,47%,.5);
			display: block;
			margin-bottom: .25rem;
			padding: 0;
			text-align: center;
		}

	.menu--tour-stops {
		background: none;
	}

		.menu--tour-stop {
			background: hsla(206,100%,47%,.5);
			display: none;
			margin-bottom: .25rem;
			padding: 0;
			text-align: center;
		}

	.menu--tour-list {
		background: hsla(0, 20%, 52%, 1);
		display: block;
		margin-bottom: .5rem;
		padding: 0;
		text-align: center;	
	}

	/* FOUNDATION OVERRIDEs */
	.orbit-container .orbit-prev, 
	.orbit-container .orbit-next {
		top: 25%;
	}

	.button {
		font-size: .85rem;
		width: 100%;
	}

	.button--tour__action {
		font-size: .55rem;
	}

} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

	.title--site--home {
		font-size: 3.5rem;
	}

	.tour__information {
		left: 5rem;
		top: 17rem;
		width: 35rem;
	}

	.menu--tours {
		background: none;
		display: none;
	}

	.menu--tour-stop {
		background: hsla(206,100%,47%,.5);
		display: none;
		margin-bottom: .25rem;
		padding: 0;
		text-align: center;
	}

} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */
	
@media only screen and (min-width: 64.063em) and (max-width: 90em) { 

	.title--site--home {
		font-size: 5rem;
	}

	.tour__information {
		left: 12rem;
		top: 17rem;
		width: 42rem;
	}

} /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */