html, body {
  height: 100%;
}

html .home {
	background: url(../img/backgrounds/shermanhouse.jpg) no-repeat center center fixed;
	background-size: cover;
	min-height: 100%;
}

html .tours {
	background-color: hsla(39, 86.8020%, 61.3725%, 1);
	min-height: 100%;
}

section {
	padding: 5rem;
}

footer {
	min-height: 100%;
}

.tour {
	height: 50rem;
}

.tour__information {
	text-align: right;
}

.tour--heart-of-chicago {
	background: url(../img/backgrounds/heart-of-chicago.jpg) no-repeat center center;
	background-size: cover;
	min-height: 100%;
}

.tour--commercial-district {
	background: url(../img/backgrounds/commercial-district.jpg) no-repeat center center;
	background-size: cover;
	min-height: 100%;
}

.tour--cultural-attractions {
	background: url(../img/backgrounds/cultural-attractions.jpg) no-repeat center center;
	background-size: cover;
	min-height: 100%;
}

.tour--waterways {
	background: url(../img/backgrounds/chicagos-waterways.jpg) no-repeat center center;
	background-size: cover;
	min-height: 100%;
}

.tour--churches {
	background: url(../img/backgrounds/churches-and-neighborhoods.jpg) no-repeat center center;
	background-size: cover;
	min-height: 100%;
}

.tour--south-side {
	background: url(../img/backgrounds/south-side.jpg) no-repeat center center;
	background-size: cover;
	min-height: 100%;
}

.logo {
	width: 20rem;
	margin-bottom: 2rem;
}

.logo--sponsor {
	width: 10rem;
	padding-top: 1rem;
}

.overview {
	background-color: hsla(39, 86.8020%, 61.3725%, 0.8);
	margin-top: 3rem;
	border: 3px solid hsla(3, 14%, 25%, 1.0);;
	outline: 2px solid hsla(3, 14%, 25%, 1.0);;
	outline-offset: -10px;
}

.overview__title {
	font-family: "Adobe Caslon Pro";
	font-size: 6rem;
	font-weight: 600;
	margin-bottom: 1rem;
	text-align: center;
}

.overview__lead {
	font-size: 1.45rem;
}

.button {
	box-shadow: 2rem 2rem 2rem 
	text-transform: uppercase;
}

.button--see-tours {
	margin: 0 10rem 2rem 0;
	font-size: 1.3rem;
}


.footer--overview__copyright {
	font-size: .7rem;
}


// Small screens
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) { } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

// XLarge screens
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

// XXLarge screens
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xlarge screens */